<header>
  <h2 class="h2">Months</h2>
  <button @click="$store.entries.add()">Add</button>
</header>
<ol>
  <template
    x-data="{options: getOptions(), now: getNow()}"
    x-for="entry in $store.entries.sortedEntries()"
    :key="entry.id"
  >
    <li
      x-bind:class="($store.view == 'month') && (entry.id == $store.entries.index.id) ? 'card selected' : 'card'"
      @click="$store.entries.setIndex(entry.id), $store.view = 'month';"
      tabindex="0"
    >
      <h3 class="data" x-text="dateToString(entry.date)"></h3>
      <button
        class="delete"
        x-show="entry.sums['inflow'] === 0 && entry.sums['outflow'] === 0"
        @click="$store.entries.del(entry.id)"
      >
        ⨯
      </button>
      <small
        x-show="entry.sums['inflow'] !== 0 | entry.sums['outflow'] !== 0"
        x-bind:class="entry.balance > 0 ? 'positive data' : entry.balance < 0 ? 'negative data' : 'data'"
        x-text="`${amountToString(entry.balance, {signed: true})}`"
      >
      </small>
    </li>
  </template>
</ol>
