<style>
  #settings .category > div {
    display: grid;
    grid-gap: var(--size-3);
    grid-template-columns: 1fr 60px;
  }
</style>

<div class="card" x-data="{edit: false}">
  <h4 class="data" x-show="!edit" x-text="category.name"></h4>
  <button x-show="!edit" @click="edit = true">Rename</button>
  <input
    x-show="edit"
    x-bind:value="category.name"
    x-ref="name"
    placeholder="Category"
    type="text"
  />
  <button
    x-show="edit"
    @click="$store.categories[flow][category.id].name = $refs.name.value, edit = false;"
  >
    Save
  </button>
</div>
