#settings > #file {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--size-2) var(--size-1);
  padding: var(--size-3) 0;
}

#settings > #file > form {
  margin: auto 0;
  display: inline;
}

#settings > #file > form > label > input[type="file"] {
  display: none;
}
