#categories .add {
  display: grid;
  grid-gap: var(--size-3);
  grid-template-columns: 1fr 60px;
  height: var(--size-8);
}

#categories .add > .value {
  width: 100%;
}

#categories .add > button {
  text-align: right;
}
