#categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--size-5);
}

#categories section {
  display: grid;
  grid-gap: var(--size-2) var(--size-1);
  grid-template-columns: 1fr;
}

#categories section h3 {
  padding-top: var(--size-2);
}
