<div class="card" x-data="{editName: false, editValue: false}">
  <h4 class="data" x-show="!editName" x-text="category.name"></h4>
  <button x-show="!editName" @click="editName = true">Rename</button>
  <input
    x-show="editName"
    x-bind:value="category.name"
    class="input name"
    placeholder="Category"
    type="text"
  />
  <button
    x-show="editName"
    @click="$store.categories[flow][category.id].name = $el.previousElementSibling.value, editName = false;"
  >
    Save
  </button>
  <span
    class="data"
    x-show="!editValue"
    x-text="amountToString($store.entries.index[flow][category.id]?.value)"
  ></span>
  <button x-show="!editValue" @click="editValue = true">Edit</button>
  <span x-show="editValue" class="currency">
      <input
        x-bind:value="$store.entries.index[flow][category.id]?.value || 0"
        class="input value"
        placeholder="Value"
        step="0.01"
        min="0"
        type="number"
      />
    <span class="data" x-text="$store.currency"></span>
  </span>
  <button
    x-show="editValue"
    @click="$store.entries.setValue(flow, category.id, Number($el.previousElementSibling.value)), editValue = false"
  >
    Save
  </button>
</div>
